margin: 0;
height: 100%;
overflow: hidden;
    background: transparent;
    font-family: Arial, sans-serif;
}

#map {
@@ -11,19 +13,23 @@ html, body {
width: 100%;
}

#surfaceCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

.mapboxgl-popup {
    z-index: 5;
max-width: 300px;
    font-family: Arial, sans-serif;
}

.mapboxgl-popup img {
width: 100%;
border-radius: 4px;
}

#three canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; 
}
