html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.mapboxgl-popup {
  max-width: 300px;
  font-family: Arial, sans-serif;
}
.mapboxgl-popup img {
  width: 100%;
  border-radius: 4px;
}
